// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.pa-md{
    padding: 10px
}

.pt-md{
    padding-top: 10px;
}

.clear-both{
    clear: both;
}
